body{
    padding-top: 2rem;
    background-image: url('../images/sea.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
ol{
    list-style-type: decimal-leading-zero;
}
ul{
    list-style-position: inside;
}
fieldset{
    border: 3px solid crimson;
    margin-bottom: 2rem;
    
}
h1{
    background-color: aliceblue;

}
p{
    background-color: blueviolet;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
}
h2{
    background-color: antiquewhite;
    position: relative;
    left:1rem;
    top:-1.8rem;
    z-index: 3;
}
h3{
    background-color: aqua;
    position: relative;
    left:1rem;
    top:-3.5rem;
}
legend{
    background-color: aquamarine;
    padding: 0.5rem;
    border-radius: 1rem;
    padding-left: 1rem;
    margin-left: -0.5rem;
}