* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
}

.sidenav {
    height: 100%;
    min-width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(225, 225, 225);
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.sidenav .links a,
.dropdown-btn {
    padding: 0.8rem 1.8rem 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    display: block;
    width: 100%;
    cursor: pointer;
    outline: none;
}

.dropdown-container {
    display: none;
}

.sidenav .links a:hover,
.dropdown-btn:hover {
    background-color: rgb(211, 114, 70);
    display: block;
}

.dropdown-btn .dropdown-container a:hover {
    color: white;
}

.dropdown-btn:hover .dropdown-container {
    display: block;
}
.span{
    font-size: 0.7rem;
}

.main {
    margin-left: 200px;
    padding: 2rem;
    font-size: 2rem;
}

.nav__head a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    display: block;
}

.nav__head {

    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    background-color: grey;
}