.page{
    width: 80%;
    margin: 0 auto;
    min-width: 30rem;
}
.box {
    float: left;
    width: 28%;
    padding: 2rem;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.main{
    width: 60%;
    margin-right: 5%;
    float: left;
    padding: 1rem;
}
.sidebar{
    width: 25%;
    
    float: right;
}

.content{
    background-color: bisque;
}
.clear{
    clear: both;
}
/* Universal selector
*{
    padding:0;
} */
/* adjacent sibling selector */
h2+p{
    margin:0;
}
/* general sibling selector */
h3~p{
    text-align: center;
}
/* descedent selector */
li a{
    text-decoration: none;
}
/* immediate child selector*/
nav > li > a{
    color: crimson;
}
/* attribute selector*/
[title]{
    color: aqua;
}
/*starts with */
a[href^="https"]{
    color: blueviolet;
}
/*any place */
a[href*="https"] {
    color: green;
}
/*as individual word */
img[alt~="https"]{
    color: yellow;
}
/* ends width */
a[href$=".pdf"]{
    color: teal;
}