.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
  }

  body{
    width: 100%;
    font-family: sans-serif;
  }
  .nav ul li {
    float: left;
  }

  
  .nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.5rem 1rem;
    text-decoration: none;
  }
  .arrow-down {
      position: relative;
      content: "";
      display: inline-block;
      width: 0.2rem;
      height: 0.2rem;
      border-right: 0.2rem dashed rgb(255, 255, 255);
      border-top: 0.2rem dashed rgb(255, 255, 255);
      border-width: thin;
      transform: rotate(135deg);
      margin-right: 0.5em;
      margin-left: 0.2rem;
      color: white;
    
  }
  
  .nav ul li:hover {
    background-color: #555;
  }
  
  .nav ul li:hover > ul {
    display: block;
  }
  
  .nav ul ul {
    display: none;
    position: absolute;
    background-color: #444;
  }
  
  .nav ul ul li {
    float: none;
  }
  
  .nav ul ul li a {
    padding: 0.9rem 0.6rem;
    color: white;
  }
  
  .nav ul ul li a:hover {
    background-color: #555;
  }
  img{
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 25rem;
    vertical-align: text-bottom;
  }
  .button{
    margin: 1.1rem 0;
    background-color: rgb(76, 153, 231);
    color: white;
    border-radius: 0.2rem;
    padding: 0.4rem 0.8rem;
  }